<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listed Cars", cars_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listed cars
      </div>
      <div class="panel-body">
        <% @cars.each do |car| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag car.show_first_photo(:medium) %>
            </div>
            <div class="col-md-7">
              <h4><%= car.make + " " + car.model%></h4>
              <h5><%= car.daily_price.to_s + "€"%></h5>
            </div>
            <div class="col-md-3 right">
              <%= link_to "Edit Car", edit_car_path(car), class: "btn btn-primary" %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
